# print statement

In [4]:
a=10
b=20
a
b

20

In [6]:
a=10
b=20
print(a)
print(b)

10
20

In [8]:
print(10)
print(20)
print('python')
print(10,20,'python')

10
20
python
10 20 python

In [10]:
num1=10
num2=20
add=num1+num2
print(add)

30

# print result with string

In [13]:
num1=20
num2=30
add=num1+num2
print('the addition of',num1,'and',num2,'is =',add)

the addition of 20 and 30 is = 50

In [20]:
name='python'
age=20
city='nyc'

In [22]:
print('my name is',name,'and age is',age,'living in',city)

my name is python and age is 20 living in nyc

# print format method

In [30]:
num1=20
num2=30
add=num1+num2
print('the addition of {} and {} is = {}'.format(num1,num2,add))

the addition of 20 and 30 is = 50

In [13]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3
avg1=round((num1+num2+num3)/3,2)
print('for the {} ,{} and {} the avg is {} or {}'.format(num1,num2,num3,avg,avg1))

for the 100 ,25 and 333 the avg is 152.66666666666666 or 152.67

In [15]:
round(avg,2)

152.67

# f string method

In [18]:
num1=20
num2=30
add=num1+num2
print(f' the addition of {num1} and {num2} is {add}')

 the addition of 20 and 30 is 50

In [26]:
name='python'
age='25'
city='nyc'
print(f'my name is {name} iam {age} years old living in {city}')

my name is python iam 25 years old living in nyc

In [28]:
num1=100
num2=25
num3=333
avg=round((num1+num2+num3)/3,2)
print(f'the average of {num1},{num2} and {num3} is {avg}')

the average of 100,25 and 333 is 152.67

# combining all

In [31]:
num1=20
num2=30
add=num1+num2
print('the addition of', num1 , 'and', num2, 'is', add)
print('the addition of {} and {} is {}'.format(num1,num2,add))
print(f'the addition of {num1} and {num2} is {add}')

the addition of 20 and 30 is 50
the addition of 20 and 30 is 50
the addition of 20 and 30 is 50

# end statement

In [34]:
print('hello')
print('good morning')

hello
good morning

In [36]:
print('hello',end=' ')
print('good morning')

hello good morning

# seperator

In [39]:
print('hello','hi','how are you',sep='-->')

hello-->hi-->how are you

In [41]:
print('hello','hi','how are you',sep='&')

hello&hi&how are you

In [43]:
print(3,'.')

3 .

In [55]:
print(3,'.',sep='')

3.

In [59]:
print(1,2,end=' ')
print(3,'.',sep='      ')

1 2 3      .