# print statement

In [4]:
a=10
b=20
a
b

20

In [6]:
a=10
b=20
print(a)
print(b)

10
20

In [8]:
print(10)
print(20)
print('python')
print(10,20,'python')

10
20
python
10 20 python

In [10]:
num1=10
num2=20
add=num1+num2
print(add)

30

# print result with string

In [13]:
num1=20
num2=30
add=num1+num2
print('the addition of',num1,'and',num2,'is =',add)

the addition of 20 and 30 is = 50

In [21]:
name='python'
age=20
city='hyd'

In [23]:
print('my name is',name,'and age is',age,'living in',city)

my name is python and age is 20 living in hyd

# print format method

In [30]:
num1=20
num2=30
add=num1+num2
print('the addition of {} and {} is = {}'.format(num1,num2,add))

the addition of 20 and 30 is = 50